/*Media Screen Global START*/

@media (max-width:1191px) {
    .wrapper, .global-header {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width:1024px) {
    .wrapper {
        margin-top: 50px;
    }
    .tb-mb-50 {
        margin-bottom: 50px;
    }
    .sm-tb-mt-0 {
        margin-top: 0px;
    }
}

@media (max-width:767px) {
    .faq .question {
        padding-right: 50px;
    }
    .sec-2-block {
        width: 50%;
        min-height: 370px;
    }
    .sm-tb-mb-50 {
        margin-bottom: 30px;
    }
    .sm-tb-mt-10 {
        margin-top: 10px;
    }
    .sm-tb-mt-50 {
        margin-top: 50px;
    }
    .wrapper, .global-header {
        margin-left: 50px;
        margin-right: 50px;
    }
    .section-two-img-text-title {
        font-size: 16px;
    }
    .parent-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .section-four {
        flex-direction: column;
    }
}

@media (max-width:480px) {
    .faq .question {
        padding-right: 45px;
    }
    .faq .plus-minus-toggle {
        right: 5px;
    }
    .sm-mb-50 {
        margin-bottom: 20px;
    }
    .br-none {
        display: none;
    }
    .wrapper, .global-header {
        margin-left: 0px;
        margin-right: 0px;
    }
}

/*Media Screen Global END*/

/*Media Screen homepage START*/

@media(max-width:1400px) {
    .sellers-div, .services-div, .faq-div, .contact-div {
        left: 5px;
    }
}

@media(max-width:1300px) {
    .sellers-div, .services-div, .faq-div, .contact-div {
        display: none;
    }
}

@media (max-width:1024px) {
    .section-one-text-h1 {
        font-size: 30px;
    }
    .sec-2-block {
        min-height: 370px;
    }
    .section-two-block-text {
        margin-top: 50px;
    }
    .section-one-text-p {
        display: none;
    }
    .section-one-block-1 {
        padding-top: 60px;
    }
    .section-one-block-1 {
        min-width: 300px;
    }
    .section-one {
        align-items: center;
    }
}

@media (max-width:850px) {
    .section-one-block-1 {
        padding-top: 30px;
    }
}

@media (max-width:767px) {
    .section-error {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .section-error-block1 {
        margin-left: 20px;
        margin-right: 20px;
    }
    .section-error-block1, .section-error-block-2 {
        width: 100%;
    }
    .section-error-block-2 {
        margin-top: 50px;
    }
    .section-three {
        flex-direction: column-reverse;
    }
    .logo-block {
        flex: 40%;
    }
    .section-one-text-h1 {
        margin-top: 0px;
    }
    .section-two-img-text-title {
        padding-left: 15px;
    }
    .section-two-block-text {
        margin-top: 30px;
    }
    .section-one-block-1 {
        padding-top: 0px;
        min-width: 215px;
    }
}

@media(max-width:670px) {
    .sec-2-block {
        width: 100%;
        min-height: auto;
        padding-top: 50px;
        padding-right: 0px;
    }
}

@media (max-width:480px) {
    nav ul.opening {
        left: auto;
    }
    .global-header, .section-four, .section-three, .parent-container {
        padding-left: 25px;
        padding-right: 25px;
    }
    .section-one-block-1, .section-two, .section-three .block-faq {
        padding-left: 25px;
        padding-right: 25px;
    }
    .section-one .block-section-image {
        margin-top: 25px;
    }
    .section-one-text-h1 {
        font-size: 36px;
    }
    .section-one {
        margin-top: 0px;
    }
    .section-three {
        flex-direction: column-reverse;
    }
    .section-three .section-three-img-block, .section-four .image-block-3 {
        margin-top: 50px;
    }
    .section-one, .section-four {
        flex-direction: column;
    }
    /* .input-block-form, .form-block-description {
        max-width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    } */
    .section-five {
        text-align: center;
    }
    .section-five .one {
        display: flex;
        flex-direction: column-reverse;
    }
    .section-five .two {
        position: relative;
        top: 0;
    }
    .section-five .one ul li {
        display: block;
    }
    .section-five .one ul li {
        width: 100%;
    }
    .section-two-block-text {
        margin-top: 20px;
    }
    .sec-2-block {
        min-height: auto;
    }
    .message-img {
        width: 40px;
    }
    .facebook-img {
        width: 20px;
    }
    .section-five .one ul li a {
        line-height: 52px;
    }
    .section-five {
        padding-bottom: 50px;
    }
    .copywrite {
        display: none;
    }
    .name-bizmental-footer {
        flex: 1;
        left: 0px;
        top: 0px;
        text-align: center;
        position: relative;
    }
}

/*Media Screen homepage END*/

/*Media Testimonial*/

@media (max-width:767px) {
    .img-block-testimonials, .text-block-testimonials, .name-client, .date-testimonial {
        width: 100%;
        text-align: center;
    }
    .img-client {
        margin: auto;
    }
    .text-testimonials {
        text-align: left;
    }
    .testimonials .owl-nav {
        margin-left: 0px;
        max-width: 100%;
    }
    .testimonials .owl-dots {
        margin-left: 0%;
    }
}